__pycache__/
*.py[cod]
*$py.class

*.sqlite3

venv/
.venv/
env/
ENV/

.git/
.gitignore

.pytest_cache/
.mypy_cache/
.ruff_cache/

*.log

staticfiles/
media/

Dockerfile
docker-compose.yml

.env
.env.*