IS_PRODUCTION="True"

DJANGO_SUPERUSER_USERNAME="admin"
DJANGO_SUPERUSER_EMAIL="admin@example.com"
DJANGO_SUPERUSER_PASSWORD="admin"

DB_ENGINE="django.db.backends.postgresql"
DB_NAME="database_name"
DB_USER="admin"
DB_PASSWORD="admin"
DB_HOST="db"
DB_PORT=5432